@charset "UTF-8";
body {
    background-color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
h1{
color:blue;
background-color: greenyellow;
}
h2 {
color:darkgreen;
}
p {text-align: justify;

}